.border-purple {
    border-color: #A855F7;
}

.bg-purple {
    background-color: #A855F7;
}

input:focus {
    outline: none;
}

.bg-success {
    background-color: #00A96E;
}

.bg-error {
    background-color: #EF4444;
}